@charset "utf-8";

// Define defaults for each variable.
@import url(//db.onlinewebfonts.com/c/0e70b3a23ddb2c7338b99c8c4396a0d1?family=ITC+Charter);
$base-font-family: "ITC Charter Regular", "Times New Roman", Times, serif;
$base-font-size:   19px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     55px !default;

$text-color:       #111 !default;
$background-color: white !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "_header.scss"
;

// Aaron's adds
img + em {display: block; text-align: center;}

figure figcaption {
    border: 1px;
    text-align: center;
}

//img {
//    border: 10px solid #2a7ae2;
//}

// img {align: center;}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  //width: 80%;
}

.float-right {
    width: auto;
    height: auto;
    float: right;
}

.post {
  float: left;
  background-color: white;
}

.thumbnail {
  margin: 10;
  float: right;
  width: 100px;
  border: 10px;
}

.excerpt {
//  margin-bottom: 3em;
}

.h1 {
  font-weight: bold;
}


img[src*="#frontpic"] {
  border: 3px solid black;
}
